.singleComment.px-3
    .row
        .col-sm
            .d-flex.justify-content-between
                strong.text-left #{comment.author.username}
                span.text-right #{moment(comment.date).format('DD.MM.YYYY, HH:mm')}
    .row
        .col-sm
                p #{comment.text}
                if isAuthenticated && comment.author.id.equals(userId) || role==='admin' 
                    .text-right
                        button.edit.btn.btn-light.btn-sm.mr-1(title="Редактировать" data-toggle="modal" data-target="#editCommentModal" data-path=`/posts/${postId}/comments/${comment._id}/edit`)
                            i.far.fa-edit
                        form.deleteCommentForm(action=`/posts/${postId}/comments/${comment._id}/delete` method="POST")
                            input(type="hidden", name="author" value=comment.author.id)
                            input.csrfDelete(type="hidden", name="_csrf" value=csrfToken)
                        button.delete.btn.btn-light.btn-sm(title="Удалить" )
                            i.fas.fa-trash-alt
                        .row.editFormDiv.mt-2(hidden="true")
                            .col-sm
                                form.editForm(action=`/posts/${postId}/comments/${comment._id}` method="POST")
                                    input(type="hidden", name="_csrf" value=csrfToken)
                                    textarea.editCommentTextarea(name="editedComment")
                                button.btn.btn-outline-danger.btn-sm.mt-1.mr-2.cancelEdit &#10005;
                                button.btn.btn-outline-success.btn-sm.mt-1.submitEdit &#10003;
    hr