.container
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/") Free Toughts
        button.navbar-toggler(type="button" 
                            data-toggle="collapse" 
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.mr-auto
                li.nav-item(class=(path==='/posts' ? 'active' : ''))
                    a.nav-link(href='/') Домой
                li.nav-item(class=(path==='/posts/add-post' ? 'active' : ''))
                    a.nav-link(href='/posts/add-post') Написать
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown.ml-auto
                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Администрирование
                    .dropdown-menu(aria-labelly="navbarDropDown")
                        a.dropdown-item(href="/theme/add-theme") Добавить тему
            
            a.btn.btn-outline-light.btn-sm(href="/login") Войти 
                i.far.fa-user
            a.btn.btn-outline-light.btn-sm.mb-2.mt-2.ml-2(href="/register") Регистрация 
                i.fas.fa-sign-in-alt