include ../partials/head.pug
include ../partials/navigation.pug


.container

    .modal.fade(id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#deleteModalLabel Удалить пост?
                    button.close(type="button", data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Вы действительно хотите удалить этот пост?
                .modal-footer
                    button.btn.btn-outline-danger.btn-sm(data-dismiss="modal") Нет
                    form(action=`/posts/${post._id}/delete`, method="POST" style="display: inline-block")
                        button.btn.btn-outline-success.btn-sm(type="submit") Да
                    
    h2 #{post.title}
    small.text-muted.font-italic= moment(post.date).format('DD.MM.YYYY')
    div
        form(action="/")
        small
            a(href="/posts/theme/"+post.theme._id) #{post.theme.themeName}
    p !{post.text}
    div
        form.mr-2.mb-2(action=`/posts/${post._id}/edit`, method="GET" style="display: inline-block")
            button.btn.btn-outline-secondary.btn-sm(type="submin") Редактировать 
                i.far.fa-edit
        button.btn.btn-outline-danger.btn-sm(type="button" data-toggle="modal" data-target="#deleteModalCenter") Удалить 
                i.fas.fa-trash-alt

include ../partials/foot.pug 