include ../partials/head.pug
include ../partials/navigation.pug

.container
    if message
        .alert.alert-danger.mt-3(role="alert") #{message}
    .modal.fade(id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#deleteModalLabel Удалить пост?
                    button.close(type="button", data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Вы действительно хотите удалить этот пост?
                .modal-footer
                    button.btn.btn-outline-danger.btn-sm(data-dismiss="modal") Нет
                    form(action=`/posts/${post._id}/delete`, method="POST" style="display: inline-block")
                        input(type="hidden", name="_csrf" value=csrfToken)
                        button.btn.btn-outline-success.btn-sm(type="submit") Да
                    
    h2 #{post.title}
    small.text-muted.font-italic
        a(href=`/posts/author/${post.author.username}/${post.author.id.toString()}` title=`показать все посты ${post.author.username}`) #{post.author.username}
    small.text-muted.font-italic  - #{moment(post.date).format('DD.MM.YYYY')}
    div
        form(action="/")
        small
            a(href=`/posts/theme/${post.theme._id}` title=`показать все посты по теме ${post.theme.themeName}`) #{post.theme.themeName}
    p !{post.text}
    if post.author.id.equals(userId) || role==="admin"
        .row.mt-2.display-flex
            .col-6.justify-content-between
                form.mr-2.mb-2(action=`/posts/${post._id}/edit`, method="GET" style="display: inline-block")
                    input(type="hidden", name="_csrf" value=csrfToken)
                    button.btn.btn-outline-secondary.btn-sm(type="submin") Редактировать 
                    
                button.btn.btn-outline-danger.btn-sm(type="button" data-toggle="modal" data-target="#deleteModalCenter") Удалить
    #rateAlert.row.mt-2(hidden=true)
        .col-12
            .alert.alert-danger
    #favoriteAlert.row.mt-2(hidden=true)
        .col-12
            .alert.alert-success
    .row
        .col-8.col-sm-6.col-lg-5
            .bg-light.border.border-secondary.rounded.p-1.display-flex
                if isAuthenticated
                    form#ratePostForm(action=`/posts/${post._id}/vote`)
                        input(type="hidden", name="_csrf" value=csrfToken)
                        input(type="hidden", name="rateHandler" id="rateHandler" value="plus")
                    .ml-auto.plusMinusContainer
                        button#addMinusToPostButton.btn.btn-outline-danger.btn-sm(title="Поставить минус")
                            i.fas.fa-minus
                        button#addPlusToPostButton.btn.btn-outline-success.btn-sm.mx-2(title="Поставить плюс")
                            i.fas.fa-plus
                span.mx-3(title="Рейтинг")
                    span#rate #{post.rate} 
                    span &#11014;&#11015;
                span.mr-3(title="Просмотрено") #{post.watched} 
                    i.far.fa-eye
                
                if isAuthenticated
                    span#addToFavorite.mr-3(title="Добавить в избранное") #{post.favorite} 
                        i.far.fa-heart
                        form#addToFavoriteForm(action=`/posts/${post._id}/favorite` method="POST")
                            input(type="hidden", name="_csrf" value=csrfToken)
                            input(type="hidden", name="favoriteHandler" id="favoriteHandler" value=post._id)
                else
                    span.mr-3(title="Добавлено в избранное") #{post.favorite}
                        i.far.fa-heart

    hr.commentFormDivider
    h4 Комментарии
    .row
        .col-12
            .form-container.p-3.bg-light
                form(action=`/posts/${post._id}/comments/addnew` method="POST" id='commentForm')
                    textarea.commentText(name="commentText" rows="3" id="commentText" disabled=isAuthenticated? false: true)
                    if isAuthenticated
                        small.text-muted Комментарии модерируются, пишите корректно и дружелюбно
                    else
                        small.text-danger Для добавления комментария нужно авторизироваться
                    br
                    input(type="hidden" name="_csrf" value=csrfToken id="formCsrf")
                .text-right
                    button.btn.btn-outline-success.btn-sm.mt-2(id="sendCommentButton" disabled=isAuthenticated? false: true) Отправить
                .p-1.mt-2(style="display: none" id="commentWarning")

            hr
            .comments-container.bg-light
                each comment in post.comments
                    .singleComment.px-3
                        .row
                            .col-12
                                .d-flex.justify-content-between
                                    strong.text-left #{comment.author.username}
                                    span.text-right #{moment(comment.date).format('DD.MM.YYYY, HH:mm')}
                        .row
                            .col-12
                                    p #{comment.text}
                                    if isAuthenticated && comment.author.id.equals(userId) || role==='admin'
                                        .text-right
                                            button.edit.btn.btn-light.btn-sm.mr-1(title="Редактировать" data-target="#editCommentModal" data-path=`/posts/${post._id}/comments/${comment._id}/edit`)
                                                i.far.fa-edit
                                            form.deleteCommentForm(action=`/posts/${post._id}/comments/${comment._id}/delete` method="POST")
                                                input(type="hidden", name="author" value=comment.author.id)
                                                input(type="hidden", name="_csrf" value=csrfToken)
                                            button.delete.btn.btn-light.btn-sm(title="Удалить")
                                                i.fas.fa-trash-alt
                                            .row.editFormDiv.mt-2(hidden="true")
                                                .col-sm
                                                    form.editForm(action=`/posts/${post._id}/comments/${comment._id}` method="POST")
                                                        input(type="hidden", name="author" value=comment.author.id)
                                                        input(type="hidden", name="_csrf" value=csrfToken)
                                                        textarea.editCommentTextarea(name="editedComment")
                                                    button.btn.btn-outline-danger.btn-sm.mt-1.mr-2.cancelEdit &#10005;
                                                    button.btn.btn-outline-success.btn-sm.mt-1.submitEdit &#10003;

                        
                        hr      
include ../partials/foot.pug 